#calculator{
  border: 1px solid rgb(46, 46, 46);
  border-radius: 5px;
  width: 200px;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
  border-radius: 5px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.button{
  width: 45px;
  height: 45px;
   margin: 3px;
   border-radius: 5px;
}